@import 'styles/scss/base';

.root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid $dark-gray-2;
  height: 50px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 24px 24px 48px;
}

.messageList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
