@import 'styles/scss/base';

.root {
  display: flex;
  flex-direction: column;
  width: calc(100% - $menu-width - $chat-list-width);
}

.header {
  border-bottom: 1px solid $dark-gray-2;
  height: $header-height;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.messageList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: calc(100vh - $header-height - $input-container-height);
  padding: 24px;
  overflow: auto;
  scroll-behavior: smooth;
}
