@import 'styles/scss/base';

.root {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid $dark-gray-2;
  padding: 16px 48px 16px 24px;
  background: transparent;
  border-radius: 28px;
  color: $light-gray-2;

  &:hover {
    border-color: $light-gray-2;
  }
  &:focus {
    border-color: $light-gray-2;
    outline: none;
  }
}

.submitButton {
  @extend %button-reset;

  display: block;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  color: $light-gray-2;

  &:disabled {
    opacity: 0.2;
  }
}
