@import 'styles/scss/base';

.root {
  position: relative;
  padding: 24px;
  height: $input-container-height;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid $dark-gray-2;
  padding: 16px 48px 16px 24px;
  background: transparent;
  border-radius: 28px;
  color: $light-gray-2;

  &:hover {
    border-color: $light-gray-2;
  }
  &:focus {
    border-color: $light-gray-2;
    outline: none;
  }
}

.loading,
.submitButton {
  position: absolute;
  right: 48px;
}

.loading {
  top: 44px;
}

.submitButton {
  @extend %button-reset;

  display: block;
  top: 36px;
  color: $light-gray-2;

  &:disabled {
    opacity: 0.2;
  }
}
