@import 'styles/scss/base';

.root {
  position: relative;
  padding: 24px;
  height: $input-container-height;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid $dark-gray-2;
  padding: 16px 48px 16px 24px;
  background: transparent;
  border-radius: 28px;
  color: $light-gray-2;

  &:hover {
    border-color: $dark-blue-1;
  }
  &:focus {
    border-color: $dark-blue-1;
    outline: none;
  }
}

.loading,
.actionButtons {
  position: absolute;
  right: 48px;
}

.loading {
  top: 46px;
}

.actionButtons {
  top: 36px;
  display: flex;
  gap: 12px;
  flex-direction: row-reverse;
}

.clearButton,
.submitButton {
  @extend %button-reset;
}

.clearButton {
  color: $light-gray-2;
}

.submitButton {
  @extend %button-reset;

  display: block;
  color: $dark-blue-1;

  &:disabled {
    color: $light-gray-2;
    opacity: 0.2;
  }
}
