%button-reset {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;

  &,
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &[disabled],
  &[disabled] > * {
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
  }
}
