// Colors
$dark-gray-1: #101819;
$dark-gray-2: #2d3435;
$dark-gray-3: #1b2425;

$light-gray-1: #dee4e5;
$light-gray-2: #828889;

$dark-blue-1: #17c1fc;
$dark-blue-2: #035973;

$light-blue-1: #eaf8fd;

$black: #000000;

// Sizes
$menu-width: 100px;
$chat-list-width: 380px;
$header-height: 50px;
$input-container-height: 124px;

// Constants
$max-line: 3;
$base-font-size: 16px;
$base-line-height: 24px;

// Breakpoints
$desktop: 1024px;
